/*main-header no margin width:100%*/
.intro-banner-wrapper{

    position: relative;
    margin: 0;
    margin-bottom: 6.5625rem;
    width: 100%;
    height: 40rem;
    
}
.intro-banner-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-banner-background{
    position: absolute;
    height: inherit;
    width: 53.75%;
    /* background-color: var(--dark-blue); */
    top:0;
}
.intro-banner-background-2, .intro-banner-background-3{
    background-color: var(--dark-blue);
    width: 100%;
    height: inherit;
    position: relative;
}
.intro-banner-background-2 img{
   
    height: inherit;
    width: auto;
    position: absolute;
    right: 10%;
    top: 0;
}
.intro-banner-background-3 img{
   
    height: inherit;
    width: 30%;
    position: absolute;
    right: 10%;
    top: 0;
}
.intro-banner-text{
    position: absolute;
    top:30%;
    left: 20%;
    /* margin-left: 22.5rem; */
    display: flex;
    flex-flow: column;
    height: 11.25rem;
    justify-content: space-evenly;
    align-items: flex-start;    
}

.intro-banner-text-2{
    position: absolute;
    top:15%;
    left: 15%;
    /* margin-left: 22.5rem; */
    display: flex;
    flex-flow: column;
    gap: 2rem;
    /* height: 11.25rem; */
    justify-content: space-evenly;
    align-items: flex-start;    
}
.event-info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.event-info-wrapper div{
    width: 11.375rem;
}


